{# src/project4OC/BookingBundle/Resources/views/Frontend/index.html.twig #}

{% extends "project4OCBookingBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}

	<div id="tabs" class="col-lg-offset-2 col-lg-8 col-lg-offset-2" class="col-xs-12">
		<h2>Informations pratiques</h2>
		
		<ul id="sommary">
			<li class="col-lg-3"><a href="#tab-1">Jours d'ouverture</a></li>
			<li class="col-lg-3"><a href="#tab-2">Types de billets</a></li>
			<li class="col-lg-2"><a href="#tab-3">Tarifs</a></li>
			<li class="col-lg-3"><a href="#tab-4">Réception des billets</a></li>
		</ul>

		<section id="accordion">
			<h3 id="accordion-1">Jours d'ouverture</h3>
			<div id="tab-1">
				<p>Le musée est ouvert <strong>tous les jours sauf le mardi</strong> (et <strong>fermé les 1er mai, 1er novembre et 25 décembre</strong>).</p>
				<p>Il n’est pas possible de réserver pour les jours passés, les mardis, les 1er mai, 1er novembre et 25 décembre. Certains jours peuvent également ne plus être disponibles à la vente, la jauge de 1000 billets (correspondant à la capacité du musée) ayant été atteinte.</p>
			</div>
		
			<h3 id="accordion-2">Types de billets</h3>
			<div id="tab-2"> 
				<p><strong>Le billet « Journée »</strong> :<br/> il n'est plus réservable une fois 14h00 passé.</p>
				<p><strong>Le billet « Demi-journée »</strong> :<br/>il ne permet d'avoir accès au musée qu’à partir de 14h00.</p>
			</div>
		
			<h3 id="accordion-3">Tarifs</h3>
			<div id="tab-3">
				<p>- <strong>Tarif normal</strong> à partir de 12 ans : 16 €</p>
				<p>- <strong>Tarif enfant</strong> à partir de 4 ans et jusqu’à 12 ans : 8 € (l’entrée est gratuite pour les enfants âgés de moins de 4 ans).</p>
				<p>- <strong>Tarif senior</strong> à partir de 60 ans : 12  €</p>
				<p>- <strong>Tarif réduit</strong> : 10 €, accordé dans certaines conditions (étudiant, employé du musée, d’un service du Ministère de la Culture, militaire…). <strong>Ne pas oublier de venir avec sa carte justificative</strong>, il sera nécessaire de la présenter à l'entrée du musée.</p>
			</div>
	
			<h3 id="accordion-4">Réception des billets</h3>
			<div id="tab-4">
				<p>Il est obligatoire de fournir son adresse e-mail afin de pouvoir recevoir la confirmation d'achat. L'adresse e-mail ne sera utilisée à aucune autre fin que celle-ci.</p>
				<p>Vous ne recevrez <strong>pas de billet(s) numérique(s) mais un e-mail faisant foi de billet</strong>. Cet e-mail est <strong>à présenter le jour de la visite</strong>.</p>
			</div>
		</section>
	</div>

	{{ include('project4OCBookingBundle:Frontend:form.html.twig')}}
{% endblock %}