body {
	width: 95%;
	margin:auto;
	display:flex;
	flex-direction: column;
	min-height:100vh;
}

#container {
	flex: 1;
}

#logo {
	text-align: right;
}

footer p {
	font-size: 11px;
	text-align:center;
}

h1, h2, h3, h4, h5, h6, label {
	font-family: "Times New Roman", Times, "Liberation Serif", FreeSerif, serif;
}

h1 {
	text-align:center;
	font-size:40px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom:15px;
	color:#A9A9A9;
}

h2 {
	font-size:22px;
	color:#385c5b;
	text-align: center;
}

h3 {
	margin-bottom:0;
	margin-top:2px;
}

p {
	font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
	text-align: justify;
}

a {
	color: #5ba4a4;
}

a:hover, a:focus {
	text-decoration: none;
}

ul {
	list-style: none;
	display: flex;
	margin-bottom: 0;
	padding-left: 10px;
}

li, h3 {
	padding-bottom: 5px;
	font-size: 11px;
	line-height: 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
    background-color: #5ba4a4;
}

li a, h3 {
	color:#385c5b;
}

li a:hover, h3:hover {
	color:#F5F5F5;
	text-shadow: 0 0 0 0;
}

.ui-state-active a, .ui-state-active a:hover, .ui-state-active, .ui-state-active:hover {
	color: #5ba4a4;
}

h3.ui-state-active {
	box-shadow: 0 0 0 0;
}

.ui-state-active {
	background-color: #F5F5F5;
	box-shadow: 2px 0 0px rgba(0,0,0,0.1), -2px 0 0px rgba(0,0,0,0.1);
}

#tab-1, #tab-2, #tab-3, #tab-4 {
	background-color: #F5F5F5;
	padding:20px 15px 5px 15px;
	min-height: 150px;
}

#tab-2 p {
	text-align:center;
}

#accordion-1, #accordion-2, #accordion-3, #accordion-4 {
	display: none;
} 

#booking {
	margin-top:30px;
}

#booking_visitDay .form-group, #booking_ticketType, #booking_save {
	display: flex;
	justify-content: center;
}

.form-group label {
	padding-right:10px;
	padding-top: 5px;
	text-align:justify;
}

#booking_visitDay_date {
	background-color: #FFFFFF;
}

#ui-datepicker-div {
	background-color: #FFFFFF;
	padding: 10px 10px 10px 10px;
}

.ui-datepicker-prev, .ui-datepicker-next {
	cursor: pointer;
}

.ui-datepicker-prev {
	padding-right: 25px;
}

.ui-datepicker-title {
	font-weight: bold;
	text-align:center;
}

#ui-datepicker-div td {
	padding-right: 4px;
} 

.radio + .radio {
	margin-top:10px;
}

#booking_tickets > div > label {
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    background-color: #5ba4a4;
    color:#385c5b;
    padding: 2px 5px 2px 5px;
    margin-top:10px;
}

#grouprate, #totalprice {
	margin:15px 0 15px 0;
	background: #F5F5F5;
	padding:10px 10px 10px 10px;
	border: 5px ridge #5ba4a4;
}

#totalprice {
	text-align:center;
	font-weight: bold;
	width:250px;
	margin-right:auto;
	margin-left:auto;
}

#booking_save {
	margin:auto;
}

#summary, #confirmation-message {
	background-color: #F5F5F5;
	padding: 10px 40px 10px 40px;
}

#summary p strong {
	color: #5ba4a4;
}

#error-message {
	margin-top:50px;
	background-color: #F5F5F5;
	padding: 25px 40px 25px 40px;
}

#button-errorspages {
	margin-top:30px;
	text-align:center;
}

/* -------------- Stripe -------------- */

#stripe-form {
	margin-top : 25px; 
	background-color: #5ba4a4;
	padding: 10px 15px 10px 15px;
	border-radius: 20px;
}

.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#stripe-button {
	margin-top:10px;
	text-align:center;
}

/* -------------- Email -------------- */

#mailBody {
	width:670px;
	margin:auto;
	padding: 10px 10px 10px 10px;
	border:5px solid #5ba4a4;
}



@media screen and (max-width: 640px) {

#sommary {
	display: none;
}

#accordion-1, #accordion-2, #accordion-3, #accordion-4 {
	display: inherit;
} 
}