body {
	width: 95%;
	margin:auto;
}

#logo {
	text-align: right;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Times New Roman", Times, "Liberation Serif", FreeSerif, serif;
}

h1 {
	text-align:center;
	font-size:40px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom:15px;
	color:#A9A9A9;
}

h2 {
	font-size:22px;
	color:#385c5b;
	text-align: center;
}

h3 {
	margin-bottom:0;
	margin-top:2px;
}

p, label {
	font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", Geneva, sans-serif;
	text-align: justify;
}

a {
	color: #5ba4a4;
}

a:hover, a:focus {
	text-decoration: none;
}

ul {
	list-style: none;
	display: flex;
	margin-bottom: 0;
	padding-left: 10px;
}

li, h3 {
	padding-bottom: 5px;
	font-size: 11px;
	line-height: 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
    background-color: #5ba4a4;
}

li a, h3 {
	color:#385c5b;
}

li a:hover, h3:hover {
	color:#F5F5F5;
	text-shadow: 0 0 0 0;
}

.ui-state-active a, .ui-state-active a:hover, .ui-state-active, .ui-state-active:hover {
	color: #5ba4a4;
}

h3.ui-state-active {
	box-shadow: 0 0 0 0;
}

.ui-state-active {
	background-color: #F5F5F5;
	box-shadow: 2px 0 0px rgba(0,0,0,0.1), -2px 0 0px rgba(0,0,0,0.1);
}

#tab-1, #tab-2, #tab-3, #tab-4 {
	background-color: #F5F5F5;
	padding:20px 15px 5px 15px;
	min-height: 150px;
}

#tab-2 p {
	text-align:center;
}

#accordion-1, #accordion-2, #accordion-3, #accordion-4 {
	display: none;
} 

#booking {
	margin-top:30px;
}

#booking_visitDay .form-group, #booking_ticketType {
	display: flex;
	justify-content: center;
}

.form-group label {
	padding-right:10px;
	padding-top: 5px;
}

#ui-datepicker-div {
	background-color: #FFFFFF;
	padding: 10px 10px 10px 10px;
}

.ui-datepicker-prev {
	padding-right: 25px;
}

.ui-datepicker-title {
	font-weight: bold;
	text-align:center;
}

#ui-datepicker-div td {
	padding-right: 4px;
} 

.radio + .radio {
	margin-top:10px;
}

#booking_tickets > div > label {
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    background-color: #5ba4a4;
    color:#385c5b;
    padding: 2px 5px 2px 5px;
    margin-top:10px;
}

#booking_save {
	margin:auto;
}

@media screen and (max-width: 640px) {

#sommary {
	display: none;
}

#accordion-1, #accordion-2, #accordion-3, #accordion-4 {
	display: inherit;
} 
}