{# src/project4OC/BookingBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Système de réservation du Louvre{% endblock %}</title>
		<meta charset="utf-8" />
		<script src="/Symfony/web/javascript/jquery.js"></script>
  		<script src="/Symfony/web/javascript/jquery-ui.js"></script>
  		<script src="/Symfony/web/javascript/datepicker-fr.js"></script>
	</head>
	<body>
		<img src="{{ asset('images/logo-louvre.png') }}">
		<h1>{{ page_title }}</h1>
		{% block body %}{% endblock %}
		<script src="/Symfony/web/javascript/jq-style.js"></script>
	</body>
</html>