{# src/project4OC/BookingBundle/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Système de réservation du Louvre{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/Symfony/web/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/Symfony/web/css/stylesheet.css">
		<script src="/Symfony/web/javascript/jquery.js"></script>
  		<script src="/Symfony/web/javascript/jquery-ui.js"></script>
  		<script src="/Symfony/web/javascript/datepicker-fr.js"></script>
	</head>
	<body>
		<header>
			<p id="logo" style="text-align: right;"><img src="{{ absolute_url(asset('images/logo-louvre.png')) }}"></p>
			<h1 style="text-align: center;">{{ page_title }}</h1>
		</header>
		<section id="container">
			{% block body %}{% endblock %}
		</section>
		<footer class="col-xs-12">
			<p>© 2018 - HUGUES Caroline</p>
			<p>Site fictif réalisé dans le cadre de la formation Chef de projet web - spécialité Développement d'OpenClassrooms</p>
		</footer>
		<script src="/Symfony/web/javascript/jq-style.js"></script>
		<script src="https://js.stripe.com/v3/"></script>
		<script src="/Symfony/web/javascript/stripe.js"></script>
	</body>
</html>