{# src/OC/Platform2Bundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>A bientôt !</title>
  </head>
  <body>
    <h1>Good Bye {{ nom }} !</h1>

    <p>
        On espère vous revoir bientôt !
    </p>
  </body>
</html>